<h1>Chats</h1>

<div class="container">

    <div class="chat-container">
        <div class="messages">
          <div >
            <div>
              <span></span>
              <div >
                <button (click)="updateMessage()">Editar</button>
                <button (click)="deleteMessage()">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      
        <input  placeholder="Escribe tu mensaje..." />
        <button (click)="sendMessage()">Enviar</button>
      </div>
</div>