<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<div class="container">
  
  <div class="cont">
  <div class="col-md-12">
    <div class="row">

        <form #nwForm="ngForm" (ngSubmit)="newaccountform(nwForm)">
          <input class="credentials" type="text" name="email" placeholder="Gamer email" ngModel><br>
          <input class="credentials" type="password" name="pwd" placeholder="Password" ngModel><br>
          <button type="submit" name="submit" class="btn-email-sing">CREATE ACCOUNT!!!</button>
        </form>
  </div> 
</div>
