<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<div class="container">
  
  <div class="cont">
  <div class="col-md-12">
    <form #myForm="ngForm" (ngSubmit)="login(myForm)">
      <input class="credentials" type="text" name="email" placeholder="Gamer email" ngModel>
        <br>
      <input class="credentials" type="password" name="pwd" placeholder="Password" ngModel>
        <br>
      <button type="submit" name="submit" class="btn-email-sing">START!!!</button>
    </form>
  </div> 
  <!---->
  
  
  <div class="col-md-12 gfxp">
    <div class="contlogo">
      <a type="button" class="col-md-3 btn-google-sing" (click)="logingoogle()"><img class="sing" src="google-logo-48.svg"  alt="google"></a>
        
      <a type="button" class="col-md-3 btn-facebook-sing" (click)="loginface()"><img class="sing" src="facebook-logo-48.svg" alt="facebook"></a>
      
      <a type="button" class="col-md-3 btn-twiter-sing" (click)="loginx()"><img class="sing" src="twitterx-logo-48.svg"  alt="x"></a>
      
      <a type="button" class="col-md-3 btn-apple-sing" (click)="loginapple()"><img class="sing" src="apple-logo-52.svg"  alt="apple"></a>
    </div>
  </div>

</div>

</div>
