<html class="position-relative">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="row">
<div class="position-fixed" style="z-index: 1; padding:0;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100">

        <!-- LOGO -->
        <a class="navbar-brand" [routerLink]="''">
          <img src="TM-logo.jpg" alt="themarto-logo">
        </a>

        <!-- TITLE -->
        <div class="d-flex justify-content-center align-items-center flex-grow-1">
          <span class="navbar-brand mb-0 h1">{{title}}</span>
        </div>
        
        <!-- LOGIN -->
        <div class="d-flex justify-content-end align-items-center">
          <div class="navbar-nav">
            <button (click)="btnloginftn()" class="nav-link login" >{{btnlogin}}</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="position-absolute" style="margin-top:80px; padding: 0px;">
  <router-outlet></router-outlet>
</div>

</div>


</html>