<h1 style="text-align: center; color: white;">Game List</h1>

<div class="container-fluid">
<div class="row">




<!-- delete all the list and do the script wel-->
    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>

    <div class="col-md-4">
        <a class="img-game" [routerLink]="''">
            <img src="pubg.jpg" style="width: 300px; height: auto;">
        </a><br>
        <a>PUBG</a>
        <br><br>
    </div>


</div>
</div>